@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 95%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  box-shadow: 10px 10px 15px #113a36;
}


h1 {
  text-align: center;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

label {
  margin-bottom: 5px;
  color: black;
}

input {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4CCD99;
  color: #000000;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}