@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.imgtextContainer {
    display: flex;
    color: white;
    background-color: none;
    border: 5px outset #FFC700;
    border-radius: 32px;
    padding: 2em;
    align-items: center;
    font-size: 1.2em;
    text-align: justify;
    margin: 15px;
    img{
        width: 200px;
        padding: 20px;
    }
}

h1 { 
    font-size: 2.2em;
    margin: 15px;
}

.imgtextContainer:hover {
    border: 5px outset;
}