.imgtextContainer {
    display: flex;
    background-color: #8aafc7;
    border: 1px solid #1e5172;
    border-radius: 32px;
    padding: 2em;
    align-items: center;
    font-size: 1.2em;
    text-align: justify;
    margin: 15px;
    img{
        width: 200px;
        padding:     20px;
    }
}

h1 { 
    font-size: 2.2em;
    margin: 15px;
}