@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  box-shadow: 10px 10px 15px #113a36;
}

.input {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.input:focus {
  box-shadow: 0 0 5px #000;
}

.button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  width: 35%;
}

.button:hover {
  background-color: #4CCD99;
  color: #000000;
}

.link_register:hover {
  color: #FFC700;
}

@media (max-width: 768px) {
  .container {
    width: 50%;
  }
}